services:
# Servidor darthvader (Principal)
  darthvader:
    build: dnsserver
    hostname: darthvader
    ports:
      - 127.0.0.1:53:53    #So na rede principal
    command: -f -4
    volumes:
      - ./darthvader/named.conf.options:/etc/bind/named.conf.options
      - ./darthvader/named.conf.local:/etc/bind/named.conf.local
      - ./darthvader/db.starwars.lan:/etc/bind/db.starwars.lan
      - ./darthvader/db.20.168.192.in-addr.arpa:/etc/bind/db.20.168.192.in-addr.arpa
      - ./darthvader/bind/queries.log:/var/log/bind/queries.log
      - ./darthvader/bind/xfer-in.log:/var/log/bind/xfer-in.log
      - ./darthvader/bind/xfer-out.log:/var/log/bind/xfer-out.log
      - ./darthvader/named.conf:/etc/bind/named.conf
      - ./darthvader/rndc.key:/etc/bind/rdnc.conf
    networks:
      rededns:
        ipv4_address: 192.168.20.10
# Servidor darthsidious (Secundario)
  darthsidious:
    build: dnsserver
    hostname: darthsidious
    depends_on:
      - darthvader
    volumes:
      - ./darthsidious/named.conf.local:/etc/bind/named.conf.local
      - ./darthsidious/named.conf.options:/etc/bind/named.conf.options
      - ./darthsidious/named.conf:/etc/bind/named.conf
      - ./darthsidious/rndc.key:/etc/bind/rdnc.conf
    networks:
      rededns:
        ipv4_address: 192.168.20.11
# Servidor hansolo (Subdominio)
  hansolo:
    build: dnsserver
    hostname: hansolo
    volumes:
      - ./hansolo/named.conf.options:/etc/bind/named.conf.options
      - ./hansolo/named.conf.local:/etc/bind/named.conf.local
      - ./hansolo/db.consello.academia.jedi:/etc/bind/db.consello.academia.jedi
    networks:
      rededns:
        ipv4_address: 192.168.20.105
# Cliente
  cliente:
    build: cliente
    hostname: cliente
    networks:
      rededns:
        ipv4_address: 192.168.20.111
    dns:
      - 192.168.20.10

networks:
  rededns:
    ipam:
      config:
        - subnet: 192.168.20.0/24